---
- name: set download location on remote for eclipse tar file
  set_fact:
    eclipse_download_folder: "{{ eclipse_download_folder_remote }}"

- name: get stat for download location
  stat:
    path: "{{ eclipse_download_folder }}"
  register: eclipse_download_folder_stat

- name: create download folder if it does not exist yet
  file:
    dest: "{{ eclipse_download_folder }}"
    state: directory
  when: not ( eclipse_download_folder_stat.stat.isdir is defined and eclipse_download_folder_stat.stat.isdir ) and
        not ( eclipse_download_folder_stat.stat.islnk is defined and eclipse_download_folder_stat.stat.islnk )
  tags: eclipse_remote_download

- name: Download eclipse to remote if we don't have it
  get_url:
    url:   "{{ eclipse_download_url }}"
    dest:  "{{ eclipse_download_folder ~ '/' ~ eclipse_file_tar }}"
    force: no
  tags: eclipse_remote_download
